/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background:
      linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) center/100%,
      repeating-linear-gradient(0deg, #fff 0, #fff 1px, transparent 1px, transparent 50px) center/50px 50px,
      repeating-linear-gradient(90deg, #fff 0, #fff 1px, transparent 1px, transparent 50px) center/50px 50px;

  color: #fff;

  /* Animation */
  animation: slide 20s linear infinite; /* Diagonal sliding effect */
}

@keyframes slide {
  0% {
      background-position: 0% 0%; /* Start at the original position */
  }
  100% {
      background-position: 100% 100%; /* Slide to the bottom right */
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure grid spans full height */
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}
